/* firefox workarounds */
@-moz-document url-prefix() {
  .nav-header {
    /* background: hsla(230, 40%, 15%, 0.7) !important; */
    background: hsla(230, 21%, 20%, 0.9) !important;
    color: #fff;
  }
  .mobile-nav {
    background: hsla(230, 21%, 20%, 0.95) !important;
  }
  .nav-header a {
    color: #eee;

    /* color: transparent; */
  }
  .nav-header button {
    mix-blend-mode: difference;
    filter: invert(0.1);
  }
  .nav-header button:hover {
    /* color: hsla(230, 21%, 20%, 0.9); */

    /* filter: invert(1); */
    color: rgb(0, 0, 0);
    mix-blend-mode: difference;
    /* background: inherit; */
    /* background-clip: text; */
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.1);
  }
  .mobile-nav a {
    color: #fff;
  }
}

html,
body {
  height: 100%;
}
